body {
  margin: 10px;
  padding: 10px;
}

.id {
  display: flex;
  border: 1px solid black;
  flex-direction: row;
  justify-content: flex-start;
  width: 500px;
}

.credit {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 20px;
}

.boxColor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100px;
}

.driver {
  background-color: blue;
  color: white;
  border-radius: 1ch;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 25px;
}

.driver img {
  border-radius: 5ch;
}
